<!DOCTYPE html>
<html>
<head>
    <title>Simple Form</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="loginBox">
            <img id="logo" src="logoImg.png">
        </img>
            <section class="InBtn">
                <a href="login.html" >
                    LOG IN
                </a>
                <a href="signup.html">
                    SIGN UP
                </a>
            </section>
    <section class="InputForm">
        <form action="/submit" method="post">
        <input type="text" id="name" name="name" placeholder="username" required><br><br>
        
        <input type="text" id="address" name="address" required placeholder="address"><br><br>
        
        <input type="text" id="phone" name="phone" required placeholder="+91-919293****"><br><br>

        <input type="email" id="email" name="email" required placeholder="you@example.com"><br><br>
        
        <button type="submit" value="Submit" id="submit"><p>Log In</p></button>
        <a href="signup.html">Forgot Password ?</a>
        </form>
    </section>
    </div>
    </div>
</body>
</html>
